.git
.agents
.codex
.github
.idea
.junie
.venv
**/.terraform
**/__pycache__
*.py[codz]
*.tfplan
*.tfstate
*.tfstate.*
*.tfvars
.env
.env.*
Dockerfile.firestore-test
compose.yaml
docs
gha-creds-*.json
infra
.mypy_cache
.pytest_cache
.ruff_cache
htmlcov
scripts
temp
tests
