APP_ENV=local
AUTH_MODE=local
IDENTITY_PROVIDER=local
SESSION_COOKIE_NAME=matrixedmind_session
CSRF_COOKIE_NAME=matrixedmind_csrf
SESSION_INACTIVITY_SECONDS=2592000
SESSION_ABSOLUTE_SECONDS=7776000
SESSION_ROTATION_SECONDS=28800
OPERATOR_CREDENTIAL_TTL_SECONDS=900
AUTH_ATTEMPT_LIMIT=5
AUTH_ATTEMPT_WINDOW_SECONDS=900
AUTH_FORM_BODY_LIMIT_BYTES=16384
LLM_REQUEST_BODY_LIMIT_BYTES=65536
LLM_RATE_LIMIT_REQUESTS=60
LLM_RATE_LIMIT_WINDOW_SECONDS=60
LLM_API_SERVER_URL=
MARKDOWN_IMAGE_SOURCE_ALLOWLIST=
MONGO_ENSURE_INDEXES=true
MONGO_URI=mongodb://matrixed_mind:matrixed_mind@localhost:27017/matrixed_mind?authSource=admin&replicaSet=rs0&directConnection=true&retryWrites=false
SOURCE_REPOSITORY_URL=https://github.com/MatrixedMind/MatrixedMind
SOURCE_REVISION=local
